* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #2D2C2C;
  color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2D2C2C;
    color: #ffffff; 
}

.img-fluid {
    width: 50px;
    height: 50px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.linha-topo-full {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #000080, #00f);
    margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  background: #2a2a2a;
  border: 2px solid #428bca;
  border-radius: 10px;
  padding: 30px;
  width: 600px;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
}

.add-btn {
  display: block;
  margin: 0 auto 30px;
  padding: 10px 20px;
  background: #428bca;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group {
  background: #1f1f1f;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #333;
}

.form-group label {
  display: block;
  margin: 10px 0 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  background: #333;
  border: 1px solid #555;
  color: #fff;
  border-radius: 5px;
}

.btn-group {
  margin-top: 15px;
  text-align: right;
}

.edit-btn {
  background: #3498db;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}

.center {
  text-align: center;
}

.cadastrar-btn {
  background-color: #00a859;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}

.cadastrar-btn:hover {
  background-color: #008f4a;
  transform: scale(1.02);
}


.footer {
    background: linear-gradient(to bottom, #2D2C2C, #0000ff);
    color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-links {
    display: flex;
    gap: 50px;
    margin-left: 20px;
    margin-top: 40px;
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
   margin-left: 15px;
  }
  
  .footer-social a img {
    width: 28px;
    height: 28px;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .footer-social a:hover img {
    transform: scale(1.1);
  }
  
  .footer-logo img {
    max-width: 120px;
    height: auto;
    transition: opacity 0.3s;
}

.footer-logo img:hover {
    opacity: 0.7; 
}

  .footer-bottom {
    margin-top: 5px;
    text-align: center;
  
  }
  
  .footer-terms a {
    margin: 0 10px;
    font-size: 13px;
    color: white;
    text-decoration: none;
  }
  
  .footer-terms a:hover {
    text-decoration: underline;
  }