body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000, #1a1a4f);
    color: white;
    text-align: center;
}

.cadastro-container {
    background: black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: gray;
}
